<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sumpi.billiard.billiard_manager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Risky15"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayerSetup"
            android:label="@string/title_activity_player__setup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoggingSetup"
            android:label="@string/title_activity_logging_setup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListBalls"
            android:label="@string/title_activity_list_balls"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>